# Node.js bağımlılıkları
node_modules/
npm-debug.log*
yarn-error.log
package-lock.json
yarn.lock

# React Native Derleme Dosyaları
android/app/build/
android/build/
ios/Pods/
ios/build/
ios/*.xcodeproj/project.xcworkspace/
ios/*.xcodeproj/xcuserdata/
ios/*.xcodeproj/xcshareddata/
ios/.expo/

# Android / iOS Çalışma Alanı Dosyaları
*.gradle
*.iml
*.hprof
*.keystore
*.DS_Store
android/.idea/
ios/.idea/

# Debug / Log Dosyaları
*.log
*.lock
debug.log
*.swp
*.swo
*.bak

# Çalışma Ortamı Dosyaları
.env
.env.local
.env.production
.env.development
.env.test
.babelrc
.eslintcache

# Metro Bundler Önbellek
.expo/
.expo-shared/
index.bundle
index.android.bundle
index.ios.bundle
*.map

# CocoaPods (iOS bağımlılık yöneticisi)
ios/Pods/
ios/Podfile.lock

# NPM ve Yarn Önbellek
.npm/
.yarn/

# Firebase / Google Services JSON ve Plist Dosyaları
android/app/google-services.json
ios/GoogleService-Info.plist

# Test ve Önbellek Dosyaları
coverage/
jest/
cypress/
cypress/screenshots/
cypress/videos/

# Git Önbelleği ve Anlık Dosyalar
.git/
.gitkeep
*.bak
*.swp
*.swo
*.lock

# Mac OS ve Linux Sistem Dosyaları
.DS_Store
Thumbs.db

*.o
*.log
